.footer {
  background-color: var(--color-grey-d);
}


.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: inherit;
  /* background-color: var(--color-grey-d); */
}

.footer__left {
  display: inline-block;
  margin-right: 112px;
  min-width: 252px;
}

.footer__logo {
  margin-bottom: 16px;
}

.left__list {
  margin-bottom: 89px;
}

.left__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  transition: color 1s ease;
}

.left__link:hover {
  color: var(--color-n);
}

.left__link:focus {
  outline-offset: 4px;
  outline: solid 2px var(--color-n);
}

.left__link:active {
  outline: none;
  color: var(--color-d);
}

.left__social {
  display: flex;
  gap: 25px;
}

.social-link {
  /* display: inline-block; */
  width: 60px;
  height: 60px;
}

.social-link:hover path{
  fill: var(--color-n);
}

.social-link:focus {
  outline-offset: 3px;
  outline: solid 2px var(--color-n);
}

.social-link:active path{
  fill: var(--color-d);
}

.social-link:active {
  outline: none;
}

.footer__center {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  padding-top: 4px;
  background: var(--color-grey-d);
}

.center__header {
  display: block;
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.form__input {
  height: 60px;
  margin-bottom: 25px;
}

.form__input, 
.form__textarea {
  background-color: var(--color-grey-n);
  font-size: 16px;
  line-height: 32px;
  padding-left: 20px;
}

.form__textarea {
  height: 150px;
  resize: none;
  margin-bottom: 32px;
  font-family: Montserrat;
}

.form__button {
  width: 269px;
  height: 58px;
  margin-right: 22px;
  padding: 19px 49px;  
  background-color: var(--color-n);
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.center__down {
  display: flex;
  align-items: center;
}

.center__header,
.form__input,
.form__textarea,
.form-text,
.footer__text,
.checkbox-text {
  color: #cacaca;
  border: none;
}

.footer__text {
  max-width: 363px;
  line-height: 32px;
}

.form__input:hover, 
.form__textarea:hover {
  background-color: var(--color-grey-l);
}

.form__input:focus, 
.form__textarea:focus {
  background-color: var(--color-grey-l);
}

.form__input:active, 
.form__textarea:active {
  background-color: var(--color-grey-l);
  color: #ffffff;
}


/* Галочка */
.checkbox-btn {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-btn+.checkbox-text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox-btn+.checkbox-text::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #CACACA;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox-btn:checked+.checkbox-text::before {
  border-color: #CACACA;
  background-size: 100%;
  background-image: url(../img/RectangleG.png);
}

.checkbox-btn:not(:disabled):not(:checked)+.checkbox-text:hover::before {
  border-color: #FF9900;
  box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.3);
  cursor: pointer;
}

.checkbox-btn:not(:disabled):active+.checkbox-text::before {
  background-color: #FF9900;
  background-size: 100%;
  background-image: url(../img/RectangleG.png);
  border-color: #b3d7ff;
}

.checkbox-btn:focus+.checkbox-text::before {
  border-color: #FF9900;
  box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.2);
}

