.hero-container {
  padding-bottom: 53px;
}

.hero__blok {
  position: relative;
  padding-left: 80px;
  padding-top: 104px;
  padding-right: 853px;
  padding-bottom: 100px;
  background-image: url(../img/hiro_balconies.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blok__content {
  min-width: 837px;
}

.content__header {
  margin-bottom: 21px;
  font-weight: 800;
  font-style: normal;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
}

.content__text {
  margin-bottom: 89px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.button {
  display: inline-block;
  /* flex-direction: row; 
  justify-content: center;
  align-items: center; */
  width: 280px;
  height: 78px;
  padding-top: 27px;
  padding-left: 38px;
  font-weight: 700;
  font-size: 23px;
  color: #fff;
  line-height: 29px;
  letter-spacing: .3px;
  background-color: var(--color-n);
  transition: background-color 1s ease;
}

.button:hover {
  background-color: var(--color-l);
}

.button:focus {
  background-color: var(--color-l);
}

.button:active {
  background-color: var(--color-d);
}